*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  /* font-family: ; */
}
.row {
  display: flex;
  justify-content: space-between;
}
.flex-items {
  text-align: left;
}
.foot-box {
  color: white;
  background: #002147;
}
.foot-bar {
  display: flex;
  justify-content: space-between;
  width: 90%;
  background: #fdc800 0% 0% no-repeat padding-box;
  border-radius: 4px;
  opacity: 1;
  padding: 1.5em;
  margin: 0 auto;
}
.list-items {
  list-style: none;
  align-items: left;
}
